
<form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
<label for="inputEmail" class="sr-only">Phone Number</label>
<input id="inputEmail" class="form-control" placeholder="Phone Number" formControlName="phoneNumber"  required="" autofocus="" type="email">
<label for="inputPassword" class="sr-only">Password</label>
<input id="inputPassword" class="form-control" placeholder="Password" formControlName="password"  required="" type="password">



<button class="btn btn-primary btn-block" type="submit" [disabled]="!logInForm.valid">Sign in</button>
</form>

