<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="page" [style.height]="this.windowHeight">

<div class="text-center center" >
    <form class="form-signin card">
      <app-logo></app-logo>
        <h1 class="toolbar">Clothx</h1>
        <h6  >explore neighbourhood fashion</h6>
            <div class="google-login-button" (click)="login()"></div>
            <div class="terms-condition-container">
                <p class="mt-5 mb-3 text-muted ">*By logging in, you agree to our Terms & Conditions & Privacy Policy.</p>
            </div>
            <p class="mt-5 mb-3 text-muted">©2017-2018</p>
        </form>

</div>

</div>
