.page {
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/background/background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: fixed;
}

app-logo {
  margin: 20px;
}

.card {
  width: 100%;
  height: 100vh;
  padding: 15px;
  border: none;
  border-radius: 0;
  max-width: 512px;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.6);
}

.title {
  font-family: 'Audiowide', cursive;
  letter-spacing: 2px;
  font-size: 30px;
  margin: 10px;
}

.error {
  color: red;
}

.center {
  width: auto;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.google-login-button:hover {
  background-image: url("../../assets/google-login-buttons/btn_google_signin_dark_focus_web@2x.png");
}

.google-login-button:active {
  background-image: url("../../assets/google-login-buttons/btn_google_signin_dark_pressed_web@2x.png");
}

.google-login-button {
  background-image: url("../../assets/google-login-buttons/btn_google_signin_dark_normal_web@2x.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 250px;
  height: 100px;
  margin: 50px auto 0;
  cursor: pointer;
  z-index: 2;
}

.disabled, .disabled:active, .disabled:hover {
  background-image: url("../../assets/google-login-buttons/btn_google_signin_dark_disabled_web@2x.png");
}

.terms-condition-container {
  margin: 10px 25px;
  font-size: 12px;
  z-index: 0
}

.login-container-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: whitesmoke;
  color: grey;

}
.login-container-footer a{

}
