.grid-wrapper{
  display: grid;
  grid-template-columns:  repeat(6,  1fr );
  grid-template-rows: repeat(6,  1fr );
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;


}

.card{
  grid-row: 2/6;
  grid-column:2/6 ;
  z-index: 1;
  border: none;
}

.grey-icon{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width:120px;
  margin: 0 auto;
}
.content{
 text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: grey;
}

.setup-link{
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  padding: 15px 20px;
  border: solid 4px aquamarine;
  color: #214c3f;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
}
.setup-link:hover {
  border: solid 5px aquamarine;
}

.setup-link:active {
  border: solid 3px aquamarine;
}
