.toolbar {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

.container {
  max-width: 800px;
}

.card {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
  border: none;
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
  min-height: 400px;
}

.card h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;
  margin: 15px;
}

textarea {
  resize: none;
  border-radius: 10px;
  min-height: 250px;
}

.form-group {
  width: 100%;
}

.badge {
  cursor: pointer;
}

.badge-primary:hover {
  background-color: rgba(0, 123, 255, 0.75);
}

.badge-primary:active {
  background-color: rgba(0, 123, 255, 0.50);
}

.done {
  color: green;
}

.not-done {
  color: red;
}
