<nav class="bg-dark navbar toolbar">
  <div><a (click)="navigateToStore()"><i class="material-icons">arrow_back</i></a></div>
  <div><a class="nav-link" *ngIf="uniqueStoreName"
          [href]="previewUrl === 'clothxtest'? 'https://spoteasytest.firebaseapp.com/store/'+ uniqueStoreName : 'https://spoteasy.in/store/'+ uniqueStoreName "
          target="_blank"
  >Preview</a>
  </div>
</nav>

<div class="container">
  <div class="card">
    <h2>Store profile</h2>
    <div class="form-group ">

      <a class="float-right " style="font-size: small">
        <span class="text-success"
                      *ngIf="isAvailable && currentStore['usn'] === uniqueStoreName">This ID belongs to you</span>
        <i class="material-icons done" *ngIf="isAvailable && currentStore['usn'] === uniqueStoreName">
          done
        </i>

        <i class="material-icons not-done" *ngIf="currentStore['usn'] && !isAvailable && currentStore['usn'] !== uniqueStoreName">
          clear
        </i>
        <span *ngIf="!isAvailable && currentStore['usn'] !== uniqueStoreName" class="text-danger float-right">Unique store name already taken</span>
      </a>
      <label for="unique-name">Unique Store Name</label>
      <input class="form-control form-control-lg " id="unique-name" type="text" [(ngModel)]="uniqueStoreName"
             placeholder="clothxshopping" required>
      <div>
        <small class="form-text text-info" *ngIf="!(this.uniqueStoreName.length >= 5)">
          Unique store name should contains minimum of 5 characters.
        </small>
        <small class="form-text text-info" *ngIf="!( this.uniqueStoreName.split(' ').length === 1)">
          Unique store name should not contains space.
        </small>
        <small class="form-text text-info" *ngIf="!(noSpecialCharacters())">
          Unique store name should not contains special characters.
        </small>
      </div>
    </div>
    <span *ngIf="currentStore['usn'] !== uniqueStoreName" class="btn btn-primary float-right"
          (click)="checkUniqueness()"
          data-toggle="tooltip" data-placement="top"
          title="Click to find 'unique store name' availability">Check & Save</span>
    <hr>
    <div class="form-group ">

      <label for="description">Description</label>
      <textarea type="text" class="form-control" id="description" [(ngModel)]="storeDescription" maxlength="250"
                placeholder="Tell your customers about your stores and its uniqueness"
      ></textarea>
      <div>
        <small class="form-text text-info float-right">
          Max 250 characters.
        </small>
      </div>

    </div>
    <span class="btn btn-primary float-right" (click)="saveStoreDescription()"
          data-toggle="tooltip" data-placement="top" title="Click to save description">Save</span>
    <hr>
    <app-logo-upload [storeId]="currentStore['storeUid']" [inData]="logo"
                     (outData)="getLogoData($event)"></app-logo-upload>
    <app-store-pics-upload [storeId]="currentStore['storeUid']" [inData]="storePictures"
                           (outData)="getStorePicturesData($event)"></app-store-pics-upload>

  </div>
</div>
