.btn-border{
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;

}
.form-control:focus {
  z-index: 2;
}
input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
