.navbar-brand{
  font-family: 'Prompt', sans-serif;
  font-size: 25px;
  letter-spacing: 3px;

}
.btn{
  border-radius: 20px;
  margin: 5px;
}


.bg{
background-color: white;
-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.08);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.08);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.08);
}
