<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<nav class="navbar navbar-expand-lg navbar-light bg">
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo/logo.png"  height="40" class="d-inline-block align-top" alt="">
    <a> Clothx</a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li>
          <button  [className]="select == 'dashboard' ? 'btn btn-primary' : 'btn btn-light'"> Dashboard</button>
          <button  [className]="select == 'store' ? 'btn btn-primary' : 'btn btn-light'">Store</button>
          <button  [className]="select == 'notification' ? 'btn btn-primary' : 'btn btn-light'">Notification</button>
          <button  [className]="select == 'user' ? 'btn btn-primary' : 'btn btn-light'">User</button>
          <button  [className]="select == 'help' ? 'btn btn-primary' : 'btn btn-light'">Help</button>

        </li>
      </ul>
      <button class="btn btn-light" (click)="logout()"> Log out</button>
    </div>
  </div>
</nav>
