<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div class="bg-dark collapse" id="navbarHeader">
  <div class="container">
    <div class="app"><i class="material-icons">trending_up</i> Dashboard</div>
    <div class="app"><i class="material-icons">store</i>Store</div>
    <div class="app"><i class="material-icons">notifications_none</i>Notification</div>
    <div class="app"><i class="material-icons">account_circle</i>Account</div>
    <div class="app"><i class="material-icons">attach_money</i>Billing</div>
    <div class="app"><i class="material-icons">live_help</i>Help</div>
    <div class="app"><i class="material-icons">headset_mic</i>Feedback</div>
    <div class="app" (click)="logout()"><i class="material-icons">exit_to_app</i>Log out</div>
  </div>
</div>

<nav class="bg navbar">
  <div>
    <img src="../../assets/logo/logo.png" class="logo align-top" alt="">
    <h4 class="logo-title">Clothx</h4>
  </div>
  <div>
    <img class="profile-pic" src="{{this.user.photoUrl}}">

    <a data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true"
       aria-label="Toggle navigation" class="menu"><i class="material-icons">apps</i></a>
  </div>
</nav>
