<nav class="navbar navbar-expand-lg navbar-light bg">
  <a class="navbar-brand" href="#">
    <img src="../../assets/logo/clothx_logo@2x.png" width="45" height="45" class="d-inline-block align-top" alt="">
    <a> CLOTHX</a>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li>
          <button class="btn btn-primary">Dashboard</button>
          <button class="btn btn-light">Store</button>
          <button class="btn btn-light">Sell</button>
          <button class="btn btn-light">Help</button>
        </li>

      </ul>

    </div>
  </div>
</nav>
