.container {
  max-width: 700px;
}


.card{
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.12);
  width: 100%;
  border: none;
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
}
.card h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;
  margin: 15px;
}

.badge{
  cursor: pointer;
  margin-left: 5px;
}
.badge-primary:hover{
  background-color: rgba(255, 0, 0, 0.5);
}
.badge-primary:active{
  background-color: red;
}
