<div class="container">
  <div class="card">
    <h2>Tell us about your store</h2>

    <form [formGroup]="storeForm">


      <mat-form-field>
        <input matInput
               id="type"
               type="text"
               placeholder="Type of store"
               formControlName="typeOfStore"
               [errorStateMatcher]="TouchedMatcher"
               required
        >
      </mat-form-field>

      <mat-form-field hintLabel="Min 5 characters">
        <input matInput
               id="store-name"
               type="text"
               placeholder="Store name"
               formControlName="storeName"
               [errorStateMatcher]="TouchedMatcher"
               required
        >
        <mat-hint align="end">{{usn.value?.length || 0}}</mat-hint>
        <mat-error *ngIf="storeName.hasError('minlength') && !storeName.hasError('required')">
          Store name should contain minimum {{storeName.errors['minlength']['requiredLength']}} characters.
        </mat-error>
        <mat-error *ngIf="storeName.hasError('required')">
          Store Name is <strong>required</strong>
        </mat-error>

      </mat-form-field>
      <mat-form-field hintLabel="Min 5 characters">
        <input matInput
               id="usn"
               type="text"
               formControlName="usn"
               placeholder="Unique Store name"
               required
        >
        <mat-hint align="end">{{usn.value?.length || 0}}</mat-hint>
        <mat-error *ngIf="usn.hasError('minlength') && !usn.hasError('required')">
          Unique store name should contain minimum {{usn.errors['minlength']['requiredLength']}} characters.
        </mat-error>
        <mat-error *ngIf="usn.hasError('required')&&( usn.touched || usn.dirty)">
          Unique store name is <strong>required</strong>
        </mat-error>
        <mat-error class="form-text text-danger"
                   *ngIf=" usn.touched && usn.invalid && !usn.hasError('required') && !usn.hasError('minlength')">
          This Unique Store Name is already taken.
        </mat-error>
        <mat-error class="form-text text-success" *ngIf="usn.valid">
          This Unique Store Name is available
        </mat-error>

      </mat-form-field>

      <mat-form-field>

        <input matInput
               type="number"
               id="inputMobileNumber"
               placeholder="Mobile Number"
               [errorStateMatcher]="TouchedMatcher"
               formControlName="mobileNumber"
               required
        >
        <mat-hint align="end">{{mobileNumber.value?.toString().length || 0 }} / 10</mat-hint>
        <mat-error class="form-text text-danger" *ngIf="mobileNumber.hasError('required')">
          Mobile number is required.
        </mat-error>
        <mat-error class="form-text text-danger"
                   *ngIf="mobileNumber.value?.toString().length  !== 10 && !mobileNumber.hasError('required')">
          Mobile number should contains 10 digits number.
        </mat-error>

      </mat-form-field>


      <mat-form-field hintLabel="If you dont't have GST number leave, You can enter it later.">

        <input matInput type="text"
               placeholder="GST Numbers"
               id="inputGSTNumber"
               style="text-transform:uppercase"
               aria-describedby="GSTNumber"
               formControlName="gstNumber"
               [attr.disabled]="storeForm.get('hasNoGstNumber').value ? '' : null"
               [errorStateMatcher]="TouchedMatcher"
        >

        <mat-error class="form-text text-danger" *ngIf="gstNumber.hasError('pattern')">
          Enter a valid GST number, If you don't have GST number leave it empty.
        </mat-error>

      </mat-form-field>
      <div formGroupName="address">
        <mat-form-field>

          <input matInput
                 type="email"
                 id="address"
                 formControlName="street"
                 placeholder="Street Address"
                 required
                 [errorStateMatcher]="TouchedMatcher"
          >

          <mat-error class="form-text text-danger" *ngIf="street.hasError('required')">
            Street is required.
          </mat-error>

        </mat-form-field>
        <div class="row ">
          <mat-form-field class="col">
            <input matInput
                   type="text"
                   id="inputCity"
                   formControlName="city"
                   placeholder="City"
                   required
                   [errorStateMatcher]="TouchedMatcher"
            >

            <mat-error class="form-text text-danger" *ngIf="city.hasError('required')">
              City is required.
            </mat-error>
            <mat-error class="form-text text-danger" *ngIf="city.hasError('pattern')">
              City should not contains number.
            </mat-error>

          </mat-form-field>
          <mat-form-field class="col">
            <input matInput
                   type="text"
                   id="inputState"
                   formControlName="state"
                   placeholder="State"
                   [matAutocomplete]="auto"
                   required
                   [errorStateMatcher]="TouchedMatcher"
            >
            <mat-autocomplete #auto="matAutocomplete" >
              <mat-option *ngFor="let state of filteredState$ | async" [value]="state">
                {{state}}
              </mat-option>
            </mat-autocomplete>
            <mat-error class="form-text text-danger" *ngIf="state.hasError('required')">
              State is required.
            </mat-error>
            <mat-error class="form-text text-danger" *ngIf="state.hasError('pattern')">
              State should not contains number.
            </mat-error>
          </mat-form-field>

        </div>
        <mat-form-field>
          <input matInput
                 type="number"
                 id="inputPin"
                 formControlName="pinCode"
                 placeholder="Pin Code"
                 required
                 [errorStateMatcher]="TouchedMatcher"
          >

          <mat-error class="form-text text-danger" *ngIf="pinCode.errors['required'] || pinCode.hasError('pattern')">
            Pin code is required and it should contains minimum of 6 digits of number.
          </mat-error>

        </mat-form-field>
      </div>

      <div class="alert alert-info text-center" *ngIf="!isLocated">
        <div class="location-msg">To setup your store, we require gps location</div>
        <div class="button location-btn" (click)="locateStore()"> Locate store</div>
      </div>
      <div class="text-success text-center" *ngIf="isLocated">We got your location</div>
      <a><p>*By signing up you agree to <a href="https://docs.spoteasy.in/terms-and-conditions" target="_blank">our
        store privacy policy and store terms of use</a>.</p></a>
      <div class="button" (click)="isLocated? onSubmit() : null"> Let's get started</div>
    </form>

  </div>

</div>
<emptyspace></emptyspace>
