<div class="page-container" id="page" *ngIf="!isSmallScreen">

  <!--<div class=" qr-scanner-preview">-->
  <!--<div class="card">-->
  <!--<app-qr-scanner (data)="getProduct($event)"></app-qr-scanner>-->
  <!--</div>-->
  <!--</div>-->

  <div class="row" id="page-row">
    <div class="col-md">
      <form [formGroup]="uiModelGroup">
        <mat-card>
          <div class="row">
            <div class="col-11">
              <mat-form-field class="w-100">
                <input matInput placeholder="Product Reference Number" type="text" (keyup.enter)="addToCart(prn.value)"
                       formControlName="prn">
              </mat-form-field>
            </div>
            <div class="col-1">
              <button mat-mini-fab color="primary" (click)="addToCart(prn.value)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>

      </form>
      <!--<div class="form-group">-->

      <!--<h6 class="float-right"><span class="badge "-->
      <!--[ngClass]="invoice.typeOfPayment == payment?'badge-primary': 'badge-light'"-->
      <!--(click)="selectPayment(payment)"-->
      <!--*ngFor="let payment of typeOfPayment">{{payment}}</span></h6>-->

      <!--</div>-->

      <mat-card class="all-products">
        <mat-list>
          <mat-list-item *ngFor="let product of allProducts; let i = index">
            <h4 mat-line class="font-weight-bolder">{{ product.productName }} -  {{product.prn}} </h4>
            <p mat-line>Price: &#8377; {{product.sellingPrice}}</p>

            <img matListAvatar *ngIf="!product.pictures['url'][0]" src="../../assets/logo/logo-120x120.png"
                 alt="no-preview">
            <img matListAvatar *ngIf="product.pictures['url'][0]" [src]="product.pictures['url'][0]"
                 alt="product preview">
            <button mat-mini-fab class="float-right" color="primary" (click)="addToCart(product.prn)">
              <mat-icon>add</mat-icon>
            </button>

          </mat-list-item>
        </mat-list>
      </mat-card>


      <div class="scrolling-wrapper">
        <mat-card *ngFor="let discount of allDiscounts; let i = index">
          <mat-card-header>

            <mat-card-title class="font-weight-bolder">{{discount.discountName}}
              ( <span *ngIf="discount.amountType === 'rupees'">&#8377;</span>
              {{discount.amount}}
              <span *ngIf="discount.amountType === 'percentage'">%</span> )
            </mat-card-title>
            <mat-card-subtitle>{{discount.discountConditionalNote}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>


          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-icon-button (click)="!invoice.isDiscountApplied ? addDiscount(i) : removeDiscount(i)">
              <mat-icon *ngIf="selectedDiscountIndex !== i">add_circle</mat-icon>
              <mat-icon *ngIf="selectedDiscountIndex === i" class="text-danger">delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
    <div class="col-md">

      <form [formGroup]="uiModelGroup">
        <mat-card class="row" *ngIf="!customerNotExit">
          <mat-form-field class="col-12">
            <input matInput placeholder="Phone Number" type="number" formControlName="phoneNumber">
            <mat-hint align="end">{{phoneNumber.value ? phoneNumber.value?.toString().length : 0 }}/10</mat-hint>
            <mat-error *ngIf="phoneNumber.errors">Phone number is required</mat-error>
          </mat-form-field>
        </mat-card>
        <mat-card class="row" *ngIf="customerNotExit">
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Phone Number" type="number" formControlName="phoneNumber">
            <mat-hint align="end">{{phoneNumber.value ? phoneNumber.value?.toString().length : 0 }}/10</mat-hint>
            <mat-error *ngIf="phoneNumber.errors">Phone number is required</mat-error>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Customer Name" type="text" formControlName="customerName">
          </mat-form-field>
        </mat-card>
      </form>
      <div class="row m-2">
        <!--<button mat-button class="col">-->
          <!--<mat-icon class="text-info">restore</mat-icon>-->
          <!--Retrieve Sale-->
        <!--</button>-->
        <!--<button mat-button class="col">-->
          <!--<mat-icon class="text-info">save_alt</mat-icon>-->
          <!--Park Sale</button>-->
        <!--<button mat-button color="warn" (click)="reset()" class="col">-->
          <!--<mat-icon class="text-danger">delete</mat-icon>-->
          <!--Discard Sale-->
        <!--</button>-->
      </div>

      <!--if empty cart-->
      <!--**********************************************************************************************************************************************-->
      <div class="grid-wrapper" *ngIf="!(cartProducts.length > 0)">
        <div class="card">

          <img src="../../assets/logo/logo-120x120.png" class="grey-icon" alt="">
          <div class="content">There are no products added to cart yet</div>
        </div>
      </div>



      <mat-card *ngIf="cartProducts.length > 0" class="item-wrapper">


        <mat-list>
          <mat-list-item *ngFor="let product of cartProducts; let i = index">
            <h4 mat-line class="font-weight-bolder">{{ product.productName }} -  {{product.prn}} </h4>
            <p mat-line>Price: &#8377; {{product.totalPrice}}</p>
            <mat-form-field class="col-2">

              <input matInput type="number" id="total-quantity"
                     [(ngModel)]="product.totalQuantity " (ngModelChange)="calculateTotal(product)">
              <mat-error *ngIf="!product.totalQuantity">Quantity of the product can't be zero</mat-error>
              <mat-error *ngIf="product.isOutStock">Out of stock</mat-error>
            </mat-form-field>
            <img matListAvatar *ngIf="!product.pictures['url'][0]" src="../../assets/logo/logo-120x120.png"
                 alt="no-preview">
            <img matListAvatar *ngIf="product.pictures['url'][0]" [src]="product.pictures['url'][0]"
                 alt="product preview">
            <button mat-mini-fab class="float-right" color="warn" (click)="deleteProductFromCart(i)">
              <mat-icon>delete</mat-icon>
            </button>

          </mat-list-item>
        </mat-list>

      </mat-card>
      <mat-card class="footer-end" *ngIf="cartProducts.length > 0" >
        <!--<mat-card-header *ngIf="!isOldCustomer">-->
          <!--<mat-form-field>-->
            <!--<input matInput placeholder="Referral Code">-->
          <!--</mat-form-field>-->
        <!--</mat-card-header>-->
        <div [formGroup]="uiModelGroup" >
        <mat-button-toggle-group name="paymentType" aria-label="Payment type" formControlName="typeOfPayment">
          <mat-button-toggle [value]="type" *ngFor="let type of typeOfPaymentValues">{{type}}</mat-button-toggle>
        </mat-button-toggle-group>
        </div>
        <div class=" m-4"><a>Total Quantity: {{invoice.totalQuantity}}</a></div>
        <div class=" m-4 "><a *ngIf="!invoice.isDiscountApplied">Total Price: &#8377; {{invoice.totalPrice}}</a>
        </div>
        <div class=" m-4"><a *ngIf="invoice.isDiscountApplied">Total Discount price:
          &#8377; {{invoice.discountPrice}}</a></div>

        <mat-card-actions align="end">
          <button mat-raised-button color="primary" class="font-weight-bolder text-light" (click)="saveInvoice('print')">
            <mat-icon>print</mat-icon>
            Print Invoice
          </button>
          <button mat-raised-button color="primary" class="font-weight-bolder text-light" (click)="saveInvoice('send')">
            <mat-icon>send</mat-icon>
            Sent Invoice
          </button>
        </mat-card-actions>

      </mat-card>
    </div>

  </div>

</div>
<!--****************************************************************************************************************************************************************-->
<!--desktop version end-->
<!--******************************************************************************************************************************************************************-->


<!--****************************************************************************************************************************************************************-->
<!--mobile version start-->
<!--******************************************************************************************************************************************************************-->
<div class="mobile-page-container " id="mobile-page" *ngIf="isSmallScreen">

  <!--<div class=" qr-scanner-preview">-->
  <!--<div class="card">-->
  <!--<app-qr-scanner (data)="getProduct($event)"></app-qr-scanner>-->
  <!--</div>-->
  <!--</div>-->


      <form [formGroup]="uiModelGroup">
        <mat-card>
          <div class="row">
            <div class="col-9">
              <mat-form-field class="w-100">
                <input matInput placeholder="Product Reference Number" type="text" (keyup.enter)="addToCart(prn.value)"
                       formControlName="prn">
              </mat-form-field>
            </div>
            <div class="col-3">
              <button mat-mini-fab color="primary" (click)="addToCart(prn.value)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>

      </form>

  <form [formGroup]="uiModelGroup">
    <mat-card class="row" *ngIf="!customerNotExit">
      <mat-form-field class="col-12">
        <input matInput placeholder="Phone Number" type="number" formControlName="phoneNumber">
        <mat-hint align="end">{{phoneNumber.value ? phoneNumber.value?.toString().length : 0 }}/10</mat-hint>
        <mat-error *ngIf="phoneNumber.errors">Phone number is required</mat-error>
      </mat-form-field>
    </mat-card>
    <mat-card class="row" *ngIf="customerNotExit">
      <mat-form-field class="col-md-6">
        <input matInput placeholder="Phone Number" type="number" formControlName="phoneNumber">
        <mat-hint align="end">{{phoneNumber.value ? phoneNumber.value?.toString().length : 0 }}/10</mat-hint>
        <mat-error *ngIf="phoneNumber.errors">Phone number is required</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input matInput placeholder="Customer Name" type="text" formControlName="customerName">
      </mat-form-field>
    </mat-card>
  </form>
  <div class="row m-2">
    <!--<button mat-button class="col">-->
      <!--<mat-icon class="text-info">restore</mat-icon>-->
      <!--Retrieve Sale-->
    <!--</button>-->
    <!--<button mat-button class="col">-->
      <!--<mat-icon class="text-info">save_alt</mat-icon>-->
      <!--Park Sale</button>-->
    <!--<button mat-button color="warn" (click)="reset()" class="col">-->
      <!--<mat-icon class="text-danger">delete</mat-icon>-->
      <!--Discard Sale-->
    <!--</button>-->
  </div>
      <!--<div class="form-group">-->

      <!--<h6 class="float-right"><span class="badge "-->
      <!--[ngClass]="invoice.typeOfPayment == payment?'badge-primary': 'badge-light'"-->
      <!--(click)="selectPayment(payment)"-->
      <!--*ngFor="let payment of typeOfPayment">{{payment}}</span></h6>-->

      <!--</div>-->


      <div class="scrolling-wrapper">
        <mat-card *ngFor="let discount of allDiscounts; let i = index">
          <mat-card-header>

            <mat-card-title class="font-weight-bolder">{{discount.discountName}}
              ( <span *ngIf="discount.amountType === 'rupees'">&#8377;</span>
              {{discount.amount}}
              <span *ngIf="discount.amountType === 'percentage'">%</span> )
            </mat-card-title>
            <mat-card-subtitle>{{discount.discountConditionalNote}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>


          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-icon-button (click)="!invoice.isDiscountApplied ? addDiscount(i) : removeDiscount(i)">
              <mat-icon *ngIf="selectedDiscountIndex !== i">add_circle</mat-icon>
              <mat-icon *ngIf="selectedDiscountIndex === i" class="text-danger">delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>



      <!--if empty cart-->
      <!--**********************************************************************************************************************************************-->
      <div class="grid-wrapper" *ngIf="!(cartProducts.length > 0)">
        <div class="card">

          <img src="../../assets/logo/logo-120x120.png" class="grey-icon" alt="">
          <div class="content">There are no products added to cart yet</div>
        </div>
      </div>



      <mat-card *ngIf="cartProducts.length > 0" class="item-wrapper">


        <mat-list>
          <mat-list-item *ngFor="let product of cartProducts; let i = index">
            <h4 mat-line class="font-weight-bolder">{{ product.productName }} -  {{product.prn}} </h4>
            <p mat-line>Price: &#8377; {{product.totalPrice}}</p>
            <mat-form-field class="col-2">

              <input matInput type="number" id="mobile-total-quantity"
                     [(ngModel)]="product.totalQuantity " (ngModelChange)="calculateTotal(product)">
              <mat-error *ngIf="!product.totalQuantity">Quantity of the product can't be zero</mat-error>
              <mat-error *ngIf="product.isOutStock">Out of stock</mat-error>
            </mat-form-field>
            <img matListAvatar *ngIf="!product.pictures['url'][0]" src="../../assets/logo/logo-120x120.png"
                 alt="no-preview">
            <img matListAvatar *ngIf="product.pictures['url'][0]" [src]="product.pictures['url'][0]"
                 alt="product preview">
            <button mat-mini-fab class="float-right" color="warn" (click)="deleteProductFromCart(i)">
              <mat-icon>delete</mat-icon>
            </button>

          </mat-list-item>
        </mat-list>

      </mat-card>
      <mat-card class="footer-end" *ngIf="cartProducts.length > 0" >
        <!--<mat-card-header *ngIf="!isOldCustomer">-->
          <!--<mat-form-field>-->
            <!--<input matInput placeholder="Referral Code">-->
          <!--</mat-form-field>-->
        <!--</mat-card-header>-->
        <div [formGroup]="uiModelGroup" >
          <mat-button-toggle-group name="paymentType" aria-label="Payment type" formControlName="typeOfPayment">
            <mat-button-toggle [value]="type" *ngFor="let type of typeOfPaymentValues">{{type}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class=" m-4"><a>Total Quantity: {{invoice.totalQuantity}}</a></div>
        <div class=" m-4 "><a *ngIf="!invoice.isDiscountApplied">Total Price: &#8377; {{invoice.totalPrice}}</a>
        </div>
        <div class=" m-4"><a *ngIf="invoice.isDiscountApplied">Total Discount price:
          &#8377; {{invoice.discountPrice}}</a></div>

        <mat-card-actions align="end">
          <button mat-raised-button color="primary" class="font-weight-bolder text-light" (click)="saveInvoice('print')">
            <mat-icon>print</mat-icon>
            Print Invoice
          </button>
          <button mat-raised-button color="primary" class="font-weight-bolder text-light" (click)="saveInvoice('send')">
            <mat-icon>send</mat-icon>
            Sent Invoice
          </button>
        </mat-card-actions>

      </mat-card>

</div>





<div style="display: none">
  <div id="print-section">
    <h2> {{ currentStore['storeName'] }}</h2>
    <h4 style="font-weight: normal;">
      <span *ngIf="!invoice.hasNoGstNumber">GSTIN:{{currentStore.gstNumber}}</span><br>
      {{currentStore['address']['street'] + ' ' +
    currentStore['address']['city']}}
      <br>Customer no: {{invoice.customerNumber}}<br>{{invoice.createdOn.toDate()}}</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">PRN</th>
        <th scope="col">Product name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total Price</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let product of invoice.cartProducts; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{product['prn']}}</td>
        <td>{{product['productName'] +' - ' }} <span *ngFor="let attribute of product['attributeValues']">{{attribute + ' '}}</span></td>
        <td>{{product['totalQuantity']}}</td>
        <td>&#8377; {{product['totalPrice']}}</td>
      </tr>

      </tbody>
    </table>
    <p *ngIf="!invoice.hasNoGstNumber">Total tax : &#8377; {{invoice.totalTax  | number : '1.2-2'}}</p>
    <p>Total products :{{invoice.cartProducts.length}}</p>
    <p>Total quantity: {{invoice.totalQuantity}}</p>
    <p [style.text-decoration]="invoice.isDiscountApplied ? 'line-through' : 'none'">Total price: &#8377; {{invoice.totalPrice  | number : '1.2-2'}}</p>
    <p *ngIf="invoice.isDiscountApplied">Total Discounted price: &#8377; {{invoice.discountPrice  | number : '1.2-2'}}</p>
    <div style="text-align: center;">
      <ngx-kjua
        [renderAsync]="true"
        [text]="invoice.invoiceId"
        [crisp]="true"
        [size]="100"
      ></ngx-kjua>
    </div>
  </div>
</div>
