
<nav class="bg-dark navbar toolbar">
  <div></div>
</nav>
<div class="grid-wrapper" *ngIf="!(uniqueCustomers.length > 0)">
  <div class="card">

    <img src="../../../assets/logo/logo.png" class="grey-icon" alt="">
    <div class="content">There are no customer yet</div>
    <div class="setup-link" (click)="navigateToSell()">START SELLING</div>
  </div>
</div>
<div class="container" *ngIf="changeCustomer && uniqueCustomers.length > 0">

  <h3 *ngIf="changeCustomer">Customers</h3>

<div class="list-group" >
  <a  class="list-group-item list-group-item-action " (click)="selectCustomer(i)" *ngFor="let customer of uniqueCustomers; let i = index" [ngClass]="selectedCustomer === i ? 'active text-white' : ''">
    {{customer}}
  </a>
</div>

</div>
<div class="container" *ngIf="!changeCustomer  && uniqueCustomers.length > 0">
  <a class="menu float-right"  (click)="toggleCustomer()"><i class="material-icons">view_list</i></a>
  <h3>{{selectedCustomerValue}} History</h3>
  <div class="card" *ngFor="let invoice of selectedCustomerData">
    <div class="card-body" *ngFor="let product of invoice.cartProducts">
      <p>{{product['prn']}}</p>
      <h5 class="card-title">{{product['productName']}}</h5>
      <p class="card-text">Total product quantity: {{product['totalQuantity']}}</p>
      <p class="card-text">Total product price:   &#8377;  {{product['totalPrice']}}</p>
      <hr >
    </div>

    <div class="card-body bg-dark text-white">
      <h5 class="card-title">Total price:  &#8377; {{invoice.totalPrice}}</h5>
      <p class="card-text">Total quantity: {{invoice.totalQuantity}}</p>

    </div>
    <div class="card-footer bg-dark text-white">
      {{invoice.createdOn.toDate()}}
    </div>
  </div>
</div>
