.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
  grid-auto-rows: minmax(50px, auto);
  gap: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card {
  max-width: 50px;
  cursor: pointer;
}

@supports (display: grid) {
  .container > * {
    margin: 0;
  }
}
