<div class="container">
<div class="card" *ngFor="let product of allProducts; let i = index "
     (click)="navigateToProduct(product.productUid)">
  <div class="card-header text-white bg-primary ">
    {{product.prn}}

  </div>
  <div class="card-body">
    <ngx-kjua *ngIf="!product.isListable" class="float-left qr-code"
              [renderAsync]="true"
              [text]=" product.storeId +'/'+ product.prn + '/' + product.productUid "
              [crisp]="true"
              [size]="250"
    ></ngx-kjua>
    <img *ngIf="product.isListable" class="card-img" [src]="product.picturesUrl[0]">
    <div class="card-content float-left">
      <h5 class="card-title ">{{product.productName}}</h5>
      <p class="card-text ">{{product.description}}</p>
      <h5>
          <span
            class="badge badge-primary">{{product.gender}} / {{product.brandName}} </span>
        <span class="badge badge-info" *ngFor="let tag of product.tags">{{tag | lowercase}}</span>
      </h5>
    </div>
  </div>

</div>
</div>
