<app-navbar></app-navbar>
<nav class="bg-dark navbar toolbar">
  <div></div>
  <!--<div class="form-inline">-->
    <!--<input class="form-control" id="required-qr" placeholder="Number of QR" [(ngModel)]="requiredNumber"-->
           <!--[ngModelOptions]="{standalone: true}">-->
    <!--<div class="button" (click)="generateQr()">Generate</div>-->
  <!--</div>-->
</nav>
<div class="container">
  <div class="card">
    <div class="card-header text-white bg-primary ">
      {{product['prn']}}
      <a class="float-right" (click)="deleteProduct()"><i class="material-icons" style="margin-left: 5px">delete</i></a>
      <!--<a class="float-right"><i class="material-icons" style="margin-left: 5px">edit</i></a>-->
    </div>
    <div class="card-body">
      <ngx-kjua class="float-left qr-code"
                [renderAsync]="true"
                [text]="product['prn']"
                [crisp]="true"
                [size]="250"
      ></ngx-kjua>
      <div class="card-content float-left">
        <h5 class="card-title ">{{product['productName']}}</h5>
        <p class="card-text ">{{product['description']}}</p>

      </div>
    </div>

  </div>

</div>
