<nav class="bg-dark navbar toolbar">
  <div></div>
</nav>
<div class="container" *ngIf="product">

  <div class="card">
    <div class="card-header text-white bg-primary ">
      {{product['prn']}}
      <a class="float-right" style="margin-left: 15px" (click)="deleteProduct()"><i
        class="material-icons">delete</i></a>
      <!--<a class="float-right" data-toggle="modal" data-target="#addOnlineProductTagModal" style="margin-left: 15px"><i-->
      <!--class="material-icons">bookmark</i></a>-->

      <!--<a class="float-right" style="margin-left: 15px"><i class="material-icons">edit</i></a>-->
      <a class="float-right" style="margin-left: 15px" (click)="open(content)"><i class="material-icons">print</i></a>
    </div>
    <div class="card-body">

      <div *ngIf="product['isListable']" class="float-right carousel-wrapper">
        <a><img width="280" [src]="product['picturesUrl'][0]"></a>
      </div>
      <ngx-kjua *ngIf="!product['isListable']" class="float-right qr-code"
                [renderAsync]="true"
                [text]=" product['storeId'] +'/'+ product['prn'] + '/' + product['productUid'] "
                [crisp]="true"
                [size]="250"
      ></ngx-kjua>

      <div class="card-content">
        <h5>
          <span
            class="badge badge-primary">{{product['gender']}} / {{product['brandName']}} </span>
        </h5>
        <h5 class="card-title ">{{product['brandName']}}</h5>
        <h5 class="card-title ">{{product['productName']}}</h5>
        <p class="card-text ">{{product['description']}}</p>
        <h5 *ngFor="let ssp of product['ssp']">
          <span class="badge badge-primary">{{ssp['stock']}} </span>
          <span class="badge badge-primary">{{ssp['size']}} </span>
          <span class="badge badge-primary">&#8377; {{ssp['price']}} </span>
        </h5>
        <h5>
          <span class="badge badge-info" *ngFor="let tag of product['tags']">{{tag | lowercase}}</span>
        </h5>
        <div class="row ">
          <div class="col variant" *ngFor="let variant of product.variants; let i = index">
            <div class="row btn btn-primary" (click)="incrementStock(i)">
              <i class="material-icons">keyboard_arrow_up</i>
            </div>
            <div class="row h5 text-center" style="text-transform: uppercase">
              <b>{{variant.size}}</b>
            </div>
            <div class="row h5 text-center font-weight-bolder">
              {{variant.stock}}
            </div>
            <div class="row btn btn-primary" (click)="decrementStock(i)">
              <i class="material-icons">keyboard_arrow_down</i>
            </div>
          </div>
        </div>
      </div>


    </div>


  </div>


</div>


<div style="display: none" *ngIf="product">
  <div id="print-section">
    <div style="text-align: center; width: 100px; height: 125px;">
      <ngx-kjua class=" qr-code"
                [renderAsync]="true"
                [text]=" product['storeId'] +'/'+ product['prn'] + '/' + product['productUid'] "
                [crisp]="true"
                [size]="100"
      ></ngx-kjua>
      <strong>{{ product['prn'] }}</strong>
    </div>

  </div>
</div>

<div class="modal fade" id="addOnlineProductTagModal" tabindex="-1" role="dialog"
     aria-labelledby="addOnlineProductTagModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addOnlineProductTagModalLabel">Add Online Product Tag</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="url" class="col-form-label">Link (Url):</label>
            <input type="text" [(ngModel)]="opt.onlineProductLink" [ngModelOptions]="{standalone: true}"
                   class="form-control" id="url">
          </div>
          <div class="form-group">
            <label for="type" class="col-form-label">Type of Tag:</label>
            <input type="text" [(ngModel)]="opt.typeOfLink" [ngModelOptions]="{standalone: true}" class="form-control"
                   id="type">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addOpt()">Add</button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Print QR</h4>
  </div>
  <div class="modal-body">
    <input class="form-control" placeholder="Enter QR Count" type="number" [(ngModel)]="qrCount">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="print(qrCount)">Print</button>
  </div>
</ng-template>
