*,
*:before,
*:after {
  box-sizing: border-box;
}
a{
  cursor: pointer;
}
.material-icons{
  color: white;
  margin-right: 25px;
}
.material-icons:hover{
  color: aquamarine;
}
.material-icons:active{
  color: rgba(127, 255, 212, 0.5);
}
.badge {
  cursor: pointer;
  margin-left: 5px;
}

.search-option {
  float: right;
  margin: 5px 5px 20px;
}

.search-option:hover {
  background-color: #007bff;
  color: white;
}
.input-group .btn{
  border-top-right-radius: 50px ;
  border-bottom-right-radius: 50px;
  border-color: #06bca9;
  background-color: #06bca9;
}
.input-group .btn:hover{
  background-color: #06bca9;
  color: white;
}
.input-group .btn:focus{
  border-color: #06bca9;
  box-shadow: 0 1px 1px #06bca9 inset, 0 0 8px #06bca9;
  outline: 0 none;
}

.toolbar {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;

}


.grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.grid-wrapper .card {
  grid-row: 2/6;
  grid-column: 2/6;
  z-index: 1;
  border: none;
}

.grid-wrapper .card {
  z-index: 1;
  border: none;
  width: 100%;
}

.grey-icon {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 120px;
  margin: 0 auto;
}

.content {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: grey;
}

.setup-link {
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  padding: 15px 20px;
  border: solid 4px aquamarine;
  color: #214c3f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.setup-link:hover {
  border: solid 5px aquamarine;
}

.setup-link:active {
  border: solid 3px aquamarine;
}

/*.toolbar .btn{*/
/*margin-right: 15px;*/
/*border-radius: 50px;*/
/*border-color: #06bca9;*/
/*background-color: #06bca9;*/

/*}*/
/*.toolbar .btn:hover{*/
/*background-color: #06bca9;*/
/*color: white;*/
/*}*/
/*.toolbar .btn:focus{*/
/*border-color: #06bca9;*/
/*box-shadow: 0 1px 1px #06bca9 inset, 0 0 8px #06bca9;*/
/*outline: 0 none;*/
/*}*/
