
<div class="mat-container" [class.is-mobile]="mobileQuery.matches">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav   #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="0" [opened]="!mobileQuery.matches " >
      <app-navbar (toggle)="toggle($event, snav)"></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="navbar bg-dark" ><button (click)="snav?.toggle()" mat-icon-button class="menu"  color="primary">
        <mat-icon aria-label="menu"> menu</mat-icon>
      </button></div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
