<div class="bg-dark collapse  " id="navbarHeader">
  <div class="container">

    <div class="app" (click)="navigateTo('/dashboard')" *ngIf="role === 'Register'">
      <i class="material-icons">trending_up</i> Dashboard
    </div>
    <div class="app" (click)="navigateTo('/sales')" *ngIf="!(role === 'Data entry')"><i class="material-icons">shopping_cart</i>Sales
    </div>
    <div class="app" (click)="navigateTo('/add')" *ngIf="!(role === 'Billing')"><i class="material-icons">add_circle</i>Add
    </div>
    <div class="app" (click)="navigateTo('/store')"><i class="material-icons">store</i>Store</div>
    <div class="app" (click)="navigateTo('/invoice')" *ngIf="!(role === 'Data entry')"><i
      class="material-icons">pages</i>Invoice
    </div>
    <div class="app" (click)="navigateTo('/manage/users')" *ngIf="(role === 'Register') && user.isRegister === true"><i
      class="material-icons">account_box</i>Manage users
    </div>
    <div class="app" (click)="navigateTo('/customers')" *ngIf="!(role === 'Data entry')"><i class="material-icons">people</i>Customers
    </div>
    <div class="app" (click)="navigateTo('/billing')" *ngIf="(role === 'Register') && user.isRegister === true"><i
      class="material-icons">attach_money</i>Billing
    </div>
    <div class="app" (click)="onNavigate()"><i class="material-icons">live_help</i>Help</div>

  </div>
</div>


<nav class="bg-dark text-white navbar">
  <div>
    <img src="../../../assets/logo/logo.png" class="logo align-top" alt="">
    <h4 class="logo-title">Clothx</h4>
  </div>
  <div *ngIf="storeState.selectedStore !== null">
    <img class="profile-pic" (click)="navigateTo('/select/store')" src="{{this.user.photoUrl}}" alt="logo">
    <a data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true"
       aria-label="Toggle navigation" class="menu"><i class="material-icons">apps</i></a>
  </div>
  <diV *ngIf="linkedStoreEmpty">
    <a class="menu logout" (click)="logout()"><i class="material-icons" data-toggle="tooltip" data-placement="bottom"
                                                 title="Logout">exit_to_app</i> </a>
    <img class="profile-pic" src="{{this.user.photoUrl}}">
  </diV>
</nav>

