
.logo-title {
  font-family: 'Audiowide', cursive;
  margin-top: 15px;
  display: flex;
  float: left;
}

.logo {
  margin: 10px 10px 10px 0;
  width: 40px;
  display: flex;
  float: left;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-list{
  height: 100vh;
  overflow-y: scroll;
}

mat-list-item, mat-icon,.mat-list-base .mat-list-item .mat-line{
  color: white;
}
mat-divider{
  background-color: grey;
}
