.toolbar {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.grid-wrapper .card {
  grid-row: 2/6;
  grid-column: 2/6;
  z-index: 1;
  border: none;
}

.card {
  z-index: 1;
  border: none;
  width: 100%;
}

.container {
  margin-top: 40px;
}

.container h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  display: flex;
}

.item-wrapper {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin: 0 auto;
}

.item {
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;

}

.item:hover {
  background-color: rgba(133, 255, 216, 0.25);
}

.item:active {
  background-color: rgba(133, 255, 216, 0.5);
}

.item h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0 auto;
}

.item-wrapper {
  margin: 15px;
}

.grey-icon {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 120px;
  margin: 0 auto;
}

.content {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: grey;
}
