
<nav class="bg-dark navbar toolbar text-white">
  <div>

  </div>
  <div>  <a><b><h5>{{today | date:'medium'}}</h5></b></a> </div>
</nav>
<!--<div class="grid-wrapper">-->
  <!--<div class="card">-->

    <!--<img src="../../assets/logo/logo.png" class="grey-icon" alt="">-->
    <!--<div class="content">Dashboard will be activated soon</div>-->
  <!--</div>-->
<!--</div>-->
<div class="container">
  <h3>Dashboard</h3>
  <hr>
  <button class="btn btn-primary" type="button" (click)="refresh()">Refresh</button>

  <div class="row">
    <div class="col-sm">
      <div class="card bg-info text-white text-center m-2">
        <div class="card-body">
          <h4>Total Sales</h4>
          <h2>{{dashboard.totalInvoice}}</h2>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card bg-info text-white text-center m-2">
        <div class="card-body">
          <h4>Total Products Sold</h4>
          <h2>{{dashboard.totalProductsSold}}</h2>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card bg-info text-white text-center m-2">
        <div class="card-body">
          <h4>Total Earning</h4>
          <h2>&#8377; {{dashboard.totalMoneyOfAllInvoiceWithoutDiscounts | number : '1.2-2'}}</h2>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <canvas id="earningsInWeek" class="charts"></canvas>
    </div>
    <div class="col-sm">
      <canvas id="salesPie" class="charts"></canvas>
    </div>
  </div>




  </div>

