<div class="container">

  <div class="card">
    <h2>Add new product</h2>

    <app-file-upload [storeId]="productForm.get('storeId').value" (downloadUrls)="getDownloadUrls($event)"
                     (pictureRefs)="getPicturePath($event)"></app-file-upload>
    <form [formGroup]="productForm">

      <div class="btn-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-light active" (click)="selectGender('Men')">
            <input type="radio" id="option1" value="Men" autocomplete="off" checked> Men
          </label>
          <label class="btn btn-light" (click)="selectGender('Women')">
            <input type="radio" id="option2" value="Women" autocomplete="off"> Women
          </label>
          <label class="btn btn-light" (click)="selectGender('Boy')">
            <input type="radio" id="option3" value="Boy" autocomplete="off"> Boy
          </label>
          <label class="btn btn-light" (click)="selectGender('Girl')">
            <input type="radio" id="option4" value="Girl" autocomplete="off"> Girl
          </label>
        </div>
      </div>

      <div class="form-group ">
        <label for="brand-name">Brand Name</label>
        <input class="form-control form-control-lg " id="brand-name" type="text" placeholder="Nike, Polo, U.S Polo"
               formControlName="brandName">
        <div
          *ngIf="productForm.get('brandName').invalid && (productForm.get('brandName').dirty || productForm.get('brandName').touched)">
          <small class="form-text text-danger" *ngIf="productForm.get('brandName').errors.required">
            Brand name is required.
          </small>
        </div>
      </div>
      <div class="form-group ">
        <label for="product-name">Product Name</label>
        <input class="form-control form-control-lg " id="product-name" type="text"
               placeholder="Nike sports T-shirt, Casual check shirt" required formControlName="productName">
        <div
          *ngIf="productForm.get('productName').invalid && (productForm.get('productName').dirty || productForm.get('productName').touched)">
          <small *ngIf="productForm.get('productName').errors.required" class="form-text text-danger">
            Product name is required.
          </small>
        </div>
      </div>
      <div class="form-group ">
        <label for="description">Description</label>
        <input type="text" class="form-control form-control-lg" id="description" placeholder="White sports T-shirt"
               formControlName="description">
        <small class="form-text text-info float-right">
          Description is optional.
        </small>
      </div>

      <div class="form-group" formGroupName="categories">
        <label for="category">Categories</label>
        <div class="form-group" id="category">
          <input placeholder="Occasion Category" class="form-control  form-control-lg" formControlName="category1"
                 [ngbTypeahead]="occasionsCat">
        </div>
        <div class="form-group" >
          <input placeholder="Style Category" class="form-control  form-control-lg" formControlName="category2"
                 [ngbTypeahead]="styleCat">
        </div>
        <div class="form-group" >
          <input placeholder="Color Category" class="form-control  form-control-lg"
                 formControlName="colorCategory"
                 [ngbTypeahead]="colors">
          <small class="form-text text-info float-right">
            Categories are required.
          </small>

        </div>
        </div>

        <hr style="height: 4px; width: 100%"
            [style.background-color]="productForm.get('categories').get('colorCategory').value">

      <mat-checkbox class="float-right m-2" formControlName="isVariantsWithSamePrice">Variants with same price
      </mat-checkbox>
      <div formArrayName="variants"
           *ngFor="let variant of variants.controls; let i = index;" class="form-group">
        <label for="variant"> Variant <sup>{{i + 1}}</sup></label>
        <div [formGroupName]="i" class="input-group" id="variant">

          <input formControlName="size" placeholder="Size" class="form-control  form-control-lg text-uppercase">

          <input formControlName="stock" placeholder="Stock " type="number" class="form-control  form-control-lg">

          <input formControlName="purchasedPrice" placeholder="Purchased Price"
                 type="number"
                 [attr.readonly]="productForm.get('isVariantsWithSamePrice').value ? i!==0 ? '' : null : null"
                 [value]="productForm.get('isVariantsWithSamePrice').value ? variants.at(0).get('purchasedPrice').value: ''"
                 class="form-control  form-control-lg">

          <input formControlName="sellingPrice" placeholder="Selling Price"
                 type="number"
                 [attr.readonly]="productForm.get('isVariantsWithSamePrice').value ? i!==0 ? '' : null : null"
                 [value]="productForm.get('isVariantsWithSamePrice').value ? variants.at(0).get('sellingPrice').value : ''"
                 class="form-control  form-control-lg">
        </div>
        <div>
          <small class="form-text text-info float-right">
            Variant<sup>{{i + 1}}</sup> is required.
          </small>
        </div>
        <a (click)="removeItem(i)" *ngIf="i !== 0" class="float-right text-danger remove-btn">remove</a>
      </div>
      <div class="form-group add-btn" id="add-ssp" (click)="addItem()">
        <i class="material-icons position-absolute"> add_circle </i>
        <div class="input-group">
          <input placeholder="Size" class="form-control  form-control-lg " disabled>
          <input placeholder="Stock " class="form-control  form-control-lg " disabled>
          <input placeholder="Purchased Price" class="form-control  form-control-lg " disabled>
          <input placeholder="Selling Price" class="form-control  form-control-lg " disabled>

        </div>
      </div>

      <div class="form-group">
        <label for="tags">Tags: </label>
        <span class="badge badge-primary" *ngFor="let tag of tagsArray;let i = index" (click)="removeTag(i)"
              data-toggle="tooltip" data-placement="top" title="Click tag delete"> {{tag}}</span>
        <input type="text" class="form-control form-control-lg" aria-describedby="tags" id="tags"
               [(ngModel)]="this.tagVal" [ngModelOptions]="{standalone: true}" (keyup.enter)="addTag()"
               [ngbTypeahead]="tags">
        <small id="tagHelp" class="form-text text-muted">Press ENTER to add tag to your product.</small>
      </div>
      <div class="form-group card" *ngIf="!currentStore.hasNoGstNumber">
        <label for="type">Tax Type</label>
        <mat-form-field>
          <mat-select formControlName="taxType" id="type">
            <mat-option value="footwear">Footwear</mat-option>
            <mat-option value="textile">Garment, Apparel, Clothing</mat-option>
            <mat-option value="other">Other</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox formControlName="inclusiveAllTaxes">Inclusive all taxes</mat-checkbox>
      </div>

      <div class="form-group " *ngIf="productForm.get('taxType').value === 'other'">
        <label for="other-tax">HSN Code</label>
        <input class="form-control form-control-lg " id="hsn-code" type="number" formControlName="hsnCode">
        <small>Not sure about HSN code ? <a href="https://bit.ly/2JPJxLu" download>lookup here</a></small>
      </div>
      <div class="form-group " *ngIf="productForm.get('taxType').value === 'other'">
        <label for="other-tax">Other Tax (%)</label>
        <input class="form-control form-control-lg " id="other-tax" type="number" formControlName="otherTax">
      </div>
      <!--{{productForm.value | json}}-->

      <div class="button" (click)="onSubmit()"> Add</div>
    </form>

  </div>

</div>
<emptyspace></emptyspace>
